* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Montserrat";
}

img{
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.player {
    background-color: rgb(38, 38, 38);
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    height: calc(100vh - 100px);
    display: flex;
    width: 100%;
}

.sidebar {
    flex-basis: 225px;
    background-color: rgb(0, 0, 0);
    padding: 20px 50px 0px 20px;
    flex-shrink: 0;
    color: grey;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.card-container {
    flex-grow: 1;
    background-color: rgb(20, 24, 33);
    overflow: scroll;
}

#upgrade-bar {
    height: 75px;
    background-color: rgb(8, 11, 18);
    color: white;
    padding-right: 15px;
    padding-top: 30px;
    text-align: end;
    position: sticky;
    top: 0;
}

#upgrade-bar a{
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
}

.flex-sidebar {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.logo-small {
    display: none;
}

.img-side {
    width: 30px;
    opacity: 0.5;
}

.fa-plus {
    background-color: rgb(163, 163, 163);
    color: black;
}

.space-top {
    padding-top: 16px;
}

ul {
    list-style: none;
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-container ul{
    display: flex;
    gap: 16px;
    color: gray;
    font-weight: bold;
    justify-content: center;
    padding: 20px;
}

.white-bold {
    font-weight: bold;
    color: white;
}

.container-cards {
    display: flex;
    gap: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.card {
    width: calc(100% / 6 -(100px / 5));
    text-align: center;
}

figcaption {
    color: gray;
}

.content{
    padding: 20px;
}

p {
    color: gray;
}

.img-radius {
    border-radius: 100px;
}

.player .img-side{
    opacity:1;
    width: 50px;
}

.box-brano {
    display: flex;
    align-items: center;
    width: calc(100% / 3); 
    gap: 16px;
}

.fa-regular {
    color: gray;
}

.box-player{
    display: flex;
    align-items: center;
    width: calc(100% / 3);
    flex-direction: column;
}

.box-volume {
    display: flex;
    align-items: center;
    width: calc(100% / 3);
    justify-content: end; 
    gap: 16px;
}

.controls {
    display: flex;
    gap: 32px;
    color: white;
    padding: 8px;
}

.fa-solid {
    color: white;
    font-size: bold;
}

.music-bar {
    display: flex;
    gap: 16px;
    padding: 8px;
    width: 100%;
}

.slider {
    flex-grow: 1;
}

.box-volume .slider{
    flex-grow: 0;
}

@media screen and (max-width:878px) {
    .card-container ul {
        flex-wrap: wrap;
    }

    .container-cards {
        flex-wrap: wrap;
    }

    .card {
        width: calc(100% / 4 - (60px / 4));
    }
    
}

@media screen and (max-width:640px){
    .card {
        width: calc(100% / 2 - (20px / 2));
    }
    .box-brano {
        width:25%;
        gap: 8px;
    }
    .box-player {
        width: 40%;
        justify-content: center;
    }
    .controls {
        gap: 8px;
    }

    .music-bar {
        gap: 8px;
    }
    .slider {
        width: 100%;
    }

    .box-volume {
        width: 10%;
        gap: 8px;
    }
    .box-volume .slider{
        display: none;
    }
}

@media screen and (max-width:480px){
    .flex-sidebar span{
        display: none;
    }
    
    .logo-small {
        display: block;
    }

    .logo-big{
        display: none;
    }
    .playlist {
        display: none;
    }
    .sidebar {
        flex-basis: 60px;
        padding: 8px;
    }
    .box-volume {
        gap:4px;
    }
    .controls {
        gap: 4px;
    }
    .music-bar{
        gap: 4px;
    }
    .box-brano {
        gap: 4px;
    }
}
