* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Montserrat";
}

img{
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.player {
    background-color: rgb(38, 38, 38);
    height: 100px;
}

.wrapper {
    height: calc(100vh - 100px);
    display: flex;
    width: 100%;
}

.sidebar {
    flex-basis: 250px;
    background-color: rgb(0, 0, 0);
    padding: 20px 50px 0px 20px;
    flex-shrink: 0;
    color: grey;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-container {
    flex-grow: 1;
    background-color: rgb(20, 24, 33);
    overflow: scroll;
}

#upgrade-bar {
    height: 75px;
    background-color: rgb(8, 11, 18);
    color: white;
    padding-right: 15px;
    padding-top: 30px;
    text-align: end;
    position: sticky;
    top: 0;
}

#upgrade-bar a{
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
}

.flex-sidebar {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.img-side {
    width: 30px;
    opacity: 0.5;
}

.fa-plus {
    background-color: rgb(163, 163, 163);
    color: black;
}

.space-top {
    padding-top: 16px;
}

ul {
    list-style: none;
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-container ul{
    display: flex;
    gap: 8px;
    color: gray;
    font-weight: bold;
    justify-content: center;
    padding: 20px;
}

.white-bold {
    font-weight: bold;
    color: white;
}

.container-cards {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.card {
    width: calc(100% / 6 -(100px / 5));
    text-align: center;
}

figcaption {
    color: gray;
}

.content{
    padding: 20px;
}