* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.player {
    background-color: rgb(38, 38, 38);
    height: 100px;
}

.wrapper {
    height: calc(100vh - 100px);
    display: flex;
}

.small {
    flex-basis: 300px;
    background-color: rgb(0, 0, 0);
}

.large {
    flex-grow: 1;
    background-color: rgb(20, 24, 33);
}