* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.player {
    background-color: rgb(38, 38, 38);
    height: 100px;
}

.wrapper {
    height: calc(100vh - 100px);
    display: flex;
    width: 100%;
}

.small {
    flex-basis: 250px;
    background-color: rgb(0, 0, 0);
    padding: 20px 50px 0px 20px;
    flex-shrink: 0;
}

.large {
    flex-grow: 1;
    background-color: rgb(20, 24, 33);
    overflow: scroll;
}